html {
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "SF UI Text", sans-serif;

  min-width: 320px;
  min-height: 100vh;

  background-color: #fff; /* указать фон под проект*/
  font-size: 20px;
  font-weight: 500;
  color: #000;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 30px;
}

.main__section {
  padding: 70px 0;
}

.header {
  padding: 30px 0;
}

.header__container {
  max-width: 1130px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 40px;
}

.navigation {
  font-weight: 400;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child):after {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  background-color: #c9c9c9;
  margin: 0 25px;
}

@media (max-width: 800px) {
  .header__container {
    align-items: flex-start;
  }
  .navigation {
    font-size: 16px;
    line-height: 24px;
  }
  .navigation__list {
    display: block;
  }
  .navigation__item {
    justify-content: flex-end;
  }
  .navigation__item:not(:last-child):after {
    display: none;
  }
}
